@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Permanent+Marker&family=Roboto:wght@300&display=swap');


body {
    font-size: 100%;
    background: linear-gradient(-45deg, #14141C, #37373f);
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1, h3, h4 {
    font-family: 'Inter', sans-serif;
    color: #F59B37 
}

a { 
    text-decoration: none;
    color: white;
}

a:hover {
    font-family: 'Inter', sans-serif;
    color: whitesmoke;
}

li:hover {
    color: #D92546;
}

#foto-marcelo {
    border-radius: 100%;
}

.nav-links li {
    display: inline-block;
    width: 250px;
    text-align: center;
}

.header div {
    display: inline-block;
}